<div class="parameter">
  <form [formGroup]="parameterForm">
    <p>  
      Player A  Bet:
      <input type="number" formControlName="betA" min="1" max="1000">
      Limit for gambling in Gaming Run
      <input type="number" formControlName="limitA" min="1" max="1000">
    </p>
    <hr>
    <p>   
      Player B Bet:
      <input type="number" formControlName="betB" min="1" max="1000">
      Limit for gambling in Gaming Run
      <input type="number" formControlName="limitB" min="1" max="1000">
    </p>
    <hr>
    <p> 
      Maximal game length:
      <input type="number" formControlName="maxGameLength" min="1" max="1000000">

      Number of games in Gaming Run:
      <input type="number" formControlName="numberOfGames" min="1" max="1000000">
    </p>
    <p> 
      Progress report frequency:
      <input type="number" formControlName="progressReportFrequency" min="1" max="1000000">
    </p> 
    <div class="buttons">
      <button type="button" (click)="startSimulation()" [disabled]="!parameterForm.valid || isSimulationRunning">Start</button>
      <button type="button" (click)="stopSimulation()" [disabled]="!isSimulationRunning">Stop</button>
    </div>
  </form>
</div>