<div class="parameter">
  <form [formGroup]="parameterForm">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Parameters </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <p>Player A:</p>
        <mat-form-field appearance="fill" class="right-margin">
          <mat-label>Player A Bet</mat-label>
          <input matInput type="number" formControlName="betA" min="1" max="9999">
        </mat-form-field>
        <mat-form-field appearance="fill" class="long-label">
          <mat-label>Limit for gambling in Gaming Run (Player A)</mat-label>
          <input matInput type="number" formControlName="limitA" min="1" max="9999">
        </mat-form-field>
        <hr>
        <p>Player B:</p>
        <mat-form-field appearance="fill" class="right-margin">
          <mat-label>Player B Bet</mat-label>
          <input matInput type="number" formControlName="betB" min="1" max="9999">
        </mat-form-field>
        <mat-form-field appearance="fill" class="long-label">
          <mat-label>Limit for gambling in Gaming Run (Player B)</mat-label>
          <input matInput type="number" formControlName="limitB" min="1" max="9999">
        </mat-form-field>
        <hr>
        <p>Game:</p>
        <mat-form-field appearance="fill" class="right-margin mid-label">
          <mat-label>Maximal game length</mat-label>
          <input matInput type="number" formControlName="maxGameLength" min="1" max="9999">
        </mat-form-field>
        <mat-form-field appearance="fill" class="right-margin long-label">
          <mat-label>Number of games in Gaming Run</mat-label>
          <input matInput type="number" formControlName="numberOfGames" min="1" max="99990">
        </mat-form-field>
        <mat-form-field appearance="fill" class="mid-label">
          <mat-label>Progress report frequency</mat-label>
          <input matInput type="number" formControlName="progressReportFrequency" min="1" max="9999">
        </mat-form-field>

  </mat-expansion-panel>
</mat-accordion>
    <hr>
    <div class="buttons">
      <button mat-mini-fab (click)="startSimulation()" [disabled]="!parameterForm.valid || isSimulationRunning">
        <mat-icon>play_circle</mat-icon>

      </button>
      Start
      <button mat-mini-fab  (click)="stopSimulation()" [disabled]="!isSimulationRunning">
        <mat-icon>stop_circle</mat-icon>
      </button>
      Stop
    </div>
    <hr>
  </form>
</div>