.parameter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100px;
}

.buttons {
  display: flex;
  gap: 10px;
}