<div class="explanation">
    <p>Two players, A and B, can play Coin Flipping here. They can have different bets.</p> 
    <p>On each step, a coin will be flipped.</p> 


    <p>If it lands on heads, player A's bet decreases by one unit and player B's bet increases by one unit. If one player has 0 bets, they lose and the other player wins. If they reach more than N steps in a game, the game ends in a draw.</p> 
  <p>
    You can set how many games the players should play and see the statistics after completing all or some number of games.
  </p>
</div>